<app-header></app-header>

<div class="row">
    <div class="col-lg">
        <h1>{{rama}}</h1>
    </div>
</div>

<div id="myCarousel" class="carousel slide row" data-ride="carousel">

    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">

        <div class="carousel-item active">

            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img"
                aria-label=" :  " preserveAspectRatio="xMidYMid slice" focusable="false">
                <title> </title>
                <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">
                </text>

            </svg>
            <img [src]="urlImagenCarrusel1">

            <div class="container">
                <div class="carousel-caption text-left">
                    <h1>{{TituloCarrusel1}}</h1>
                    <p>{{TextoCarrusel1}}</p>
                    <p *ngIf="isDeveloperModeOn"><a class="btn btn-lg btn-primary"
                            (click)="open(ModalUpdateField,'Carrusel1')">Actualizar Campo</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img"
                aria-label=" :  " preserveAspectRatio="xMidYMid slice" focusable="false">
                <title> </title>
                <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">
                </text>
            </svg>
            <img [src]="urlImagenCarrusel2">
            <div class="container">
                <div class="carousel-caption">
                    <h1>{{TituloCarrusel2}}</h1>
                    <p>{{TextoCarrusel2}}</p>
                    <p *ngIf="isDeveloperModeOn"><a class="btn btn-lg btn-primary"
                            (click)="open(ModalUpdateField,'Carrusel2')">Actualizar Campo</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img"
                aria-label=" :  " preserveAspectRatio="xMidYMid slice" focusable="false">
                <title> </title>
                <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">
                </text>
            </svg>
            <img [src]="urlImagenCarrusel3">
            <div class="container">
                <div class="carousel-caption text-right">
                    <h1>{{TituloCarrusel3}}</h1>
                    <p>{{TituloCarrusel3}}</p>
                    <p *ngIf="isDeveloperModeOn"><a class="btn btn-lg btn-primary"
                            (click)="open(ModalUpdateField,'Carrusel3')">Actualizar Campo</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing col-sm-12">

    <!-- Three columns of text below the carousel -->
    <div class="row mt-5">
        <div class="col-lg-4 col-sm-12">
            <img class="bd-placeholder-img rounded-circle" *ngIf="ShowImageCircular1" [src]="urlImagenCircular1"
                width="350" height="350">
            <svg *ngIf="!ShowImageCircular1" class="bd-placeholder-img rounded-circle" width="350" height="350"
                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                    dy=".3em">140x140</text>
            </svg>

            <h2>{{TituloCircular1}}</h2>
            <p>{{TextoCircular1}}</p>
            <p *ngIf="isDeveloperModeOn"><a class="btn btn-secondary"
                    (click)="open(ModalUpdateField,'Circular1')">Actualizar Campo &raquo;</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4 col-sm-12">
            <img class="bd-placeholder-img rounded-circle" *ngIf="ShowImageCircular2" [src]="urlImagenCircular2"
                width="350" height="350">
            <svg *ngIf="!ShowImageCircular2" class="bd-placeholder-img rounded-circle" width="350" height="350"
                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                    dy=".3em">140x140</text>
            </svg>

            <h2>{{TituloCircular2}}</h2>
            <p>{{TextoCircular2}}</p>
            <p *ngIf="isDeveloperModeOn"><a class="btn btn-secondary"
                    (click)="open(ModalUpdateField,'Circular2')">Actualizar Campo &raquo;</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4 col-sm-12">
            <img class="bd-placeholder-img rounded-circle" *ngIf="ShowImageCircular3" [src]="urlImagenCircular3"
                width="350" height="350">
            <svg *ngIf="!ShowImageCircular3" class="bd-placeholder-img rounded-circle" width="350" height="350"
                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                    dy=".3em">140x140</text>
            </svg>

            <h2>{{TituloCircular3}}</h2>
            <p>{{TextoCircular3}}</p>
            <p *ngIf="isDeveloperModeOn"><a class="btn btn-secondary"
                    (click)="open(ModalUpdateField,'Circular3')">Actualizar Campo &raquo;</a></p>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">{{TituloRectangulo1Parte1}} <span class="text-muted">{{TituloRectangulo1Parte2}}</span></h2>
            <p class="lead">{{TextoRectangulo1}}</p>
            <p *ngIf="isDeveloperModeOn"><a class="btn btn-secondary"
                    (click)="open(ModalUpdateField,'Rectangulo1')">Actualizar Campo &raquo;</a></p>
        </div>
        <div class="col-md-5">
            <img *ngIf="ShowImageRectangulo1" [src]="urlImagenRectangulo1" width="500" height="500"
                class="img-fluid mx-auto">
            <svg *ngIf="!ShowImageRectangulo1"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa"
                    dy=".3em">500x500</text>
            </svg>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">{{TituloRectangulo2Parte1}} <span class="text-muted">{{TituloRectangulo2Parte2}}</span>
            </h2>
            <p class="lead">{{TextoRectangulo2}}</p>
            <p *ngIf="isDeveloperModeOn"><a class="btn btn-secondary"
                    (click)="open(ModalUpdateField,'Rectangulo2')">Actualizar Campo &raquo;</a></p>
        </div>
        <div class="col-md-5 order-md-1">
            <img *ngIf="ShowImageRectangulo2" [src]="urlImagenRectangulo2" width="500" height="500"
                class="img-fluid mx-auto">
            <svg *ngIf="!ShowImageRectangulo2"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa"
                    dy=".3em">500x500</text>
            </svg>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">{{TituloRectangulo3Parte1}} <span class="text-muted">{{TituloRectangulo3Parte2}}</span></h2>
            <p class="lead">{{TextoRectangulo3}}</p>
            <p *ngIf="isDeveloperModeOn"><a class="btn btn-secondary"
                    (click)="open(ModalUpdateField,'Rectangulo3')">Actualizar Campo &raquo;</a></p>
        </div>
        <div class="col-md-5">
            <img *ngIf="ShowImageRectangulo3" [src]="urlImagenRectangulo3" width="500" height="500"
                class="img-fluid mx-auto">
            <svg *ngIf="!ShowImageRectangulo3"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa"
                    dy=".3em">500x500</text>
            </svg>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">{{TituloRectangulo4Parte1}} <span class="text-muted">{{TituloRectangulo4Parte2}}</span>
            </h2>
            <p class="lead">{{TextoRectangulo4}}</p>
            <p *ngIf="isDeveloperModeOn"><a class="btn btn-secondary"
                    (click)="open(ModalUpdateField,'Rectangulo4')">Actualizar Campo &raquo;</a></p>
        </div>
        <div class="col-md-5 order-md-1">
            <img *ngIf="ShowImageRectangulo4" [src]="urlImagenRectangulo4" width="500" height="500"
                class="img-fluid mx-auto">
            <svg *ngIf="!ShowImageRectangulo4"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa"
                    dy=".3em">500x500</text>
            </svg>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">{{TituloRectangulo5Parte1}} <span class="text-muted">{{TituloRectangulo5Parte2}}</span></h2>
            <p class="lead">{{TextoRectangulo5}}</p>
            <p *ngIf="isDeveloperModeOn"><a class="btn btn-secondary"
                    (click)="open(ModalUpdateField,'Rectangulo5')">Actualizar Campo &raquo;</a></p>
        </div>
        <div class="col-md-5">
            <img *ngIf="ShowImageRectangulo5" [src]="urlImagenRectangulo5" width="500" height="500"
                class="img-fluid mx-auto">
            <svg *ngIf="!ShowImageRectangulo5"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa"
                    dy=".3em">500x500</text>
            </svg>

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">{{TituloRectangulo6Parte1}} <span class="text-muted">{{TituloRectangulo6Parte2}}</span>
            </h2>
            <p class="lead">{{TextoRectangulo6}}</p>
            <p *ngIf="isDeveloperModeOn"><a class="btn btn-secondary"
                    (click)="open(ModalUpdateField,'Rectangulo6')">Actualizar Campo &raquo;</a></p>
        </div>
        <div class="col-md-5 order-md-1">
            <img *ngIf="ShowImageRectangulo6" [src]="urlImagenRectangulo6" width="500" height="500"
                class="img-fluid mx-auto">
            <svg *ngIf="!ShowImageRectangulo6"
                class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa"
                    dy=".3em">500x500</text>
            </svg>
        </div>
    </div>
    <!-- /END THE FEATURETTES -->
</div>
<!-- /.container -->
<!-- FOOTER -->


<!-- MODALS -->

<ng-template #ModalUpdateField let-modal>
    <form [formGroup]="dataForm">
        <div class="modal-header">
            <h5 class="modal-title AddField-letter" id="AddField-letter">Actualizar Campo {{element}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Título</span>
                <input formControlName="Titulo" type="text" class="form-control" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>

            <label for="basic-url" class="form-label">Texto</label>
            <div class="input-group mb-3">
                <textarea formControlName="Texto" class="form-control" id="exampleFormControlTextarea1"
                    rows="3"></textarea>
            </div>

            <label for="basic-url" class="form-label">Subir Imagen Noticia</label>
            <div class="custom-file">
                <input (change)="onFileSelected($event)" type="file" class="custom-file-input" id="customFileLang"
                    lang="es">
                <label class="custom-file-label" for="customFileLang">C:/fakepath/{{fileName}}</label>
            </div>

        </div>

        <div class="container">
            <div *ngIf="isAlertOnErr" class="alert alert-danger container" role="alert">
                {{messageForm}}
            </div>
            <div *ngIf="isAlertOnSucc" class="alert alert-success container" role="alert">
                {{messageForm}}
            </div>
            <div class="alert alert-info container" role="alert">
                Si desea cambiar de color el título de un rectángulo, escriba el título separado de un punto
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="UpdateOrAddData()"
                data-dismiss="modal">Agregar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                (click)="modal.dismiss('Cross click')">Salir</button>
        </div>
    </form>
</ng-template>